body {
    background-color: darkgray;
    padding: 30px;    
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#last-score-button {
    background-color: lightgray;
    float: left;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 15px 15px 25px black;
}
#quiz-area {
    height: 500px;
    width: 500px;
    color:black;
    background-color: gray;
    font-size: large;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 15px 15px 25px black;
    position: relative;
}
#timer {
    height: 30px;
    text-align: right;
}
#quiz-question {
    background-color: lightgray;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
.quiz-answer {
    font-size: medium;
    background-color:darkgray;
    font-size: 24px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    box-shadow: 5px 5px 5px black;
}
.quiz-answer-correct {
    box-shadow: 5px 5px 5px rgb(238, 238, 238);
    color: white;
}
.quiz-answer-wrong {
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.quiz-answer-highscore {
    box-shadow: 5px 5px 5px rgb(50, 52, 87);
    color: white;
    background-color: red;
}
#game-started-button {
    visibility: visible;
    position: absolute;
    border-radius: 10px;
    bottom: 20px;
    margin-left: auto;
    margin-left: 20px;
    width: 90%;
    height: 70px;
    font-size: 40px;
    background-color: darkgray;
    box-shadow: 5px 5px 5px black;
}
#game-start-button {
    visibility: visible;
    position: absolute;
    bottom: 30%;
    margin-left: auto;
    margin-left: 20px;
    width: 90%;
    height: 200px;
    font-size: 90px;
    background-color: darkgray;
    box-shadow: 5px 5px 5px black;
}
#user-name-button {
    visibility: hidden;   
    width: 300px; 
    height: 50px;
    right: 10%;
    bottom: 20px;
    font-size: 24px;
    background-color: lightgray;    
    font-weight: bold;
    position: absolute;
}
#user-name-form {    
    visibility: hidden; 
    width: 300px;
    height: 50px;
    left: 10%;
    bottom: 20px;
    background-color:lightgray; 
    position: absolute;
}
#user-name-text {
    width: 95%;
    text-align: center;
    margin: auto;
    height: 35px;
    bottom: 6px;
    left: 5px;
    font-size: 24px;
    background-color: white;    
    font-weight: bold;    
    position: absolute;
}